*, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}
#container {
  width: 900px;
}
body, #container, #left-column, #right-column, .page, .po-number, .terms, .reference-number, .date, #extra-fields, #line-items, #fob-point, #carriers-name, #shipped-via, #freight-term, #st-tax, #pco, #tax-determination, .filler, footer, footer p {
  float: left;
}
body {
  font-family: Arial;
  font-size: 14px;
  text-transform: uppercase;
}
h3, p, #line-items th {
  font-size: .7em;
  font-weight: normal;
  letter-spacing: .5px;
}
.bold {
  font-weight: bold;
}
/*HEADER*/
#company-info {
  line-height: 110%;
  text-transform: none;
}
/*LEFT COLUMN*/
#left-column {
  width: 58%;
  padding: 1.25em 3em 1em 4em;
}
#left-column h3 {
  font-size: .75em;
  padding: 1em .5em 0 3em;
}
#logo {
  margin: 0 0 .25em 0;
  font-size: 1.25em;
  font-style: italic;
  text-transform: uppercase;
}
#client-info, #shipping-info {
  height: 12.5em;
  padding: 1em;
  border: 1px solid #000;
}
#client-info {
  position: absolute;
  width: 424px;
  top: 119px;
  left: 56px;
}
#shipping-info {
  position: absolute;
  width: 424px;
  top: 264.5px;
  left: 56px;  
}
.overlap {
  position:relative;
  height: 124px;
  top:-1px;
  left:-1px;
  width: 426px;
  background-color:white;
  border-radius: 25px;
  padding: 1em;
}
/*END LEFT COLUMN*/
/*RIGHT COLUMN*/
#right-column {
  width: 42%;
  padding: 6em 0 1em 3.25em;
}
#right-column h1 {
  padding: 0 0 2.75em 0;
  font-size: 2em;
}
#right-column p {
  padding: 1em 0;
}
#right-column h3, #extra-fields h3 {
  padding: .5em 0 .75em 0;
}
#right-column div:nth-child(2) {
  height: 1.25em;
  padding: 0 .25em;
  border: 1px solid #000;
  border-top: 0;
  border-right: 0;
}
.page, .po-number {
  width: 60%;
}
.terms, .reference-number {
  width: 100%;
}
.date {
  width: 40%;
}
/*END RIGHT COLUMN */
/*EXTRA FIELDS*/
#extra-fields {
  width: 100%;
  padding: 1em 0 0 0;
}
#extra-fields div {
  height: 3em;
}
#extra-fields div:nth-child(2) {
  padding: 0 .25em;
}
#fob-point, #carriers-name, #tax-determination, #shipped-via, #freight-term, #st-tax, #pco {
  border: 1px solid #000;
  border-left: 0;
}
#fob-point, #carriers-name, #tax-determination {
  width: 20%;
}
#shipped-via, #freight-term, #st-tax, #pco {
  width: 10%;
}
#fob-point h3 {
  width: 40%;
}
#carriers-name h3 {
  width: 55%;
}
#shipped-via h3, #st-tax h3 {
  width: 80%;
}
#freight-term h3 {
  width: 92%;
}
#pco h3 {
  width: 30%;
}
#tax-determination h3 {
  width: 65%;
}
#fob-point h3, #carriers-name h3, #shipped-via h3, #freight-term h3, #st-tax h3, #pco h3, #tax-determination h3 {
  margin: 0 auto;
}
/*END EXTRA FIELDS*/
/*LINE ITEMS*/
#line-items {
  width: 100%;
}
#line-items th {
  height: 2em;
  padding: 1em;
}
.item, .quantity, .list-number, .total {
  width: 15%;
}
.description {
  width: 40%;
}
.item, .quantity, .list-number, .description, .total {
  border: 1px solid #000;
  border-top: 0;  
  border-left: 0;
}
#tax-determination, .total {
  border-right: 0;
}
.filler {
  height: 600px;
}
/*END LINE ITEMS*/
/*FOOTER*/
footer {
  padding: 1em 0;
}
footer p {
  padding: 1em 0;
}
/*END FOOTER*/
