/*MAIN STYLES*/
*, *:before, *:after { 
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
}

body {
  font-size: 16px;
  font-family: arial, sans-serif;
  /*font-family: 'Raleway', sans-serif;*/
  margin: 0 auto;
  background: #494949;
}

#logo, #phone, #tagline, nav, nav ul, nav ul li, article, .left, .right,
footer
{
  width: 100%;
  float: left;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*HEADER*/
header {
  max-width: 960px;
  padding: 0.75em 1.25em;
  margin: 1.5em auto 0 auto;
  background: #fff;
  border-bottom: 1px solid #111;
}
#hdr_left {
  width: 75%;
  float: left;
}
#hdr_right {
  width: 25%;
  float: left;
}

#logo {
  font-family: Georgia;
  font-size: 1.75em;
}

#phone {
  text-align: right;
  font-family: Verdana;
  font-size: 1.1em;
  padding-top: .25em;
}

#tagline {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

nav ul {
  width: 50%;
  margin: 1em 28.75em 0 0;
  list-style: none;
}

nav ul li {
  width: 33.3333%;
  float: left;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul li a, header h1 a {
  text-decoration: none;
  color: #111;
}

nav ul li a:hover {
  color: #494949;
}
/*BODY*/
#container {
  max-width: 960px;
  margin: 0 auto;
  background: #fff;
}

#x_ray_machine, #helmut {
  width: 100%;
  float: right;
  padding-bottom: 0.5em;
}

#left_column {
  width: 50%;
  float: left;
  padding: 0.5em 0.5em .5em 1.25em;
}

#right_column {
  width: 50%;
  float: right;
  padding: 1.25em 1.25em 1.25em 0.5em;
}

section {
  padding: 0.5em 0;
}

section h2 {
  font-size: 1.25em;
  padding: .25em 0;
}

.company_history {
  padding: 0.75em 0;
}

/*FOOTER*/
footer {
  border-top: 1px solid #111;
  padding: .5em 1em;
  background: #fff;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 685px) {
  header {
    margin: 0 auto;
  }

  #hdr_left, #hdr_right {
    width: 100%;
    float: none;
  }
  #logo {
    width: 100%;
  }
  #phone {
    text-align: left;
  }
  nav ul li {
    width: 100%;
    padding: .25em 0;
  }
  #right_column {
    width: 100%;
    padding: 1.25em 1.25em 0 1.25em;
  }
  #left_column {
    width: 100%;
    padding: 0 1.25em;
  }

}